#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define LAYERZERO 0
#define LAYERONE 1
#define BLUETOOTH 2

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

/ {
    behaviors {
        mt: mod_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "QUICK_TAP";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <200>;
			bindings = <&kp>, <&kp>;
         };
    };

    keymap {

        compatible = "zmk,keymap";

        default_layer {
        bindings = <
        &kp LCTRL(LSHIFT(F1))    &kp LCTRL(LSHIFT(F2))     &kp LCTRL(LSHIFT(F3))
        &kp LSHIFT               &kp ESC                   &kp LCTRL(LSHIFT(F4))     
        &mt LAYERONE LCTRL                                     &kp LCTRL(LSHIFT(F5))
            
        >;
        };
       
        layer_one {
        bindings = < 
        &kp LCTRL(LSHIFT(F6))    &kp LCTRL(LSHIFT(F7))     &kp LCTRL(Y)
        &mt BLUETOOTH LCTRL(TAB)        &kp LCTRL(LSHIFT(F8))     &kp LCTRL(Z)
        &kp LCTRL(LSHIFT(F9))                              &kp LCTRL(LSHIFT(F10))                             

        >;
        };
        
        layer_bt {
        bindings = <
        &bootloader       &bt BT_SEL 0      &bt BT_SEL 1
        &none             &bt BT_CLR        &none
        &none                               &none

        >;
        };
    };
};
