#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define LAYERZERO 0
#define LAYERONE 1
#define BLUETOOTH 2

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

/ {
    behaviors {
        mt: mod_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "mod_tap";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <0>;
			bindings = <&kp>, <&kp>;
         };
    };

    keymap {

        compatible = "zmk,keymap";

        default_layer {
        bindings = <
        &kp LC(LS(F1))           &kp LC(LS(F2))     &kp LC(LS(F3))
        &kp LSHIFT               &kp ESC            &kp LC(LS(F4))     
        &mt LAYERONE LCTRL                          &kp LC(LS(F5))
            
        >;
        };
       
        layer_one {
        bindings = < 
        &kp LC(LS(F6))                  &kp LC(LS(F7))     &kp LC(y)
        &mt BLUETOOTH LC(TAB)           &kp LC(LS(F8))     &kp LC(z)
        &kp LC(LS(F9))                                     &kp LC(LS(F10))                             

        >;
        };
        
        layer_bt {
        bindings = <
        &none             &bt BT_SEL 0      &bt BT_SEL 1
        &none             &bt BT_CLR        &none
        &none                               &bootloader

        >;
        };
    };
};
